[data-testid="page-favorites"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px
}

.music-favoritelist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}