
[data-testid="header-component"] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1660px;
    margin-top: 5px;
    background-color:black;
    color: #f1b;
}

nav {
    align-self: center;
    position: fixed;
    width: 100%;
    
}

.hadset-header {
    width: 40px;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 100px;
    gap: 100px;
    
}

a:link, a:visited  {
    text-decoration: none;   
    font-weight: 700;
    color:#f1b;
    cursor: pointer;
    animation: neon 2s ease-in-out infinite alternate;
}

a:hover {
	font-size:120%;
	}

  @keyframes neon {
    from {
        text-shadow: 0 0 35px #f1b,
                     0 0 40px#f1b,
                     0 0 55px #f1b;
    }
}

[data-testid="header-user-name"] {
    margin-left: 1400px;
    font-weight: 600;
}